h1,
p {
  font-family: Lato;
}
body,
html {
  margin: 0;
  padding: 0;
}
.main_wrapper {
  padding: 30px;
}
.left_block {
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #ccc;
}
.time-list ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.time-list ul li {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-right: 10px;
}
.time-list ul li a {
  display: block;
  padding: 5px 15px;
}
.hide {
  display: none;
}
.card-img-top.w200 {
  width: 200px;
}
.user-data {
  padding: 15px;
}
.user-data span {
  display: block;
  margin: 5px 0 0 0;
}
.selectedlist h6 {
  margin-top: 15px;
}

header {
  background: #ccc;
  padding: 25px;
  text-align: center;
  color: #fff;
}

select {
  display: block;
  width: 350px;
  max-width: 100%;
}
